body {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'SPFont';
    src: url('/fonts/sp.ttf') format('truetype');
}

#pixi-container {
    position: relative;
    z-index: 2;
}

#rgba-container {
    position: absolute;
    top: 0;
    width: 100dvw;
    height: 100dvh;
    z-index: 1;
}
