body {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'SPFont';
    src: url('/fonts/sp.ttf') format('truetype');
}

#pixi-container {
    position: relative;
    z-index: 2;
}

#rgba-container {
    position: absolute;
    top: 0;
    width: 100dvw;
    height: 100dvh;
    z-index: 1;
}

.loader {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background: white;

    display: flex;
    align-items: center;
    justify-content: center;

    & .item {
        font-family: 'SPFont';
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;
    }

    & img {
        animation: spin 1s ease-in-out infinite;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
